.container{
  display: flex;
  flex-direction: column;
  padding: 20px 16px;
  margin: 100px 0 92px;
  max-width: 600px;
  align-items: flex-end;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: all .2s ease-in-out;
}

.borderStyle{
  border-color: #8585AD;
}

.bun_container{
  margin-right: 20px;
}

.list{
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 16px;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
  height: calc(100vh - 600px);
}

.emptyListText{
  width: 70%;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
  overflow: hidden;
}

.bottomContainer{
  margin: 40px 20px 0;
  display: flex;
  align-items: center;
  align-self: flex-end;
  font-family: 'Iceland';
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 36px;
}

.currencyIcon {
  margin: 0 40px 0 10px;
}
