@font-face {
  font-family: 'Iceland';
  src: url('../../fonts/Iceland-Regular.ttf') format('ttf');
}

.mainContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainLayout{
  display: flex;
  flex-direction: column;
}



.ingredients{
  display: flex;
  gap: 10px;
  max-height: calc(100vh - 300px);
}
