.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  margin-top: 40px;
}

.title {
  margin: 0;
  font-size: 36px;
  align-self: flex-start;
  line-height: 40px;
  font-style: normal;
  font-weight: bold;
}


.contentContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 60px;
}





