
.orderList {
  box-sizing: border-box;
  min-width:600px;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-top: 40px;
  list-style: none;
  overflow: scroll;
  overflow-x: hidden;
}