.header{
  max-width: 1240px;
  margin: 0 auto;
  width: 100%;
  margin-top: 20px;
}

.links{
  display: flex;
  width: 100%;
  align-items: center;
  list-style: none;
  padding-left: 0;
  margin: 0;
  flex: 1;
}

.mainLinks {
  display: flex;
}

.links > div > li > a, .links > li > a {
  display: flex;
  text-decoration: none;
  color:#F2F2F3;
  margin-right: 18px;
}

.link_logo{
  flex:1;
  display: flex;
  justify-content: center;
  margin-right: 125px;
}

.profileLink {
  justify-self: end;
}
