.header{
  max-width: 1120px;
  margin: 0 auto;
  width: 100%;
  padding: 16px 0;
  
}

.links{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  margin: 0;
  flex: 1;
}

.links > li > a {
  display: flex;
  padding: 0 8px;
  text-decoration: none;
  color:#F2F2F3;
}

.active {
  color: #8585AD;
}

.link_logo{
  flex: 1;
  display: flex;
  justify-content: center;
}
