.header{
  max-width: 1120px;
  margin: 0 auto;
  width: 100%;
  margin-top: 20px;
}

.links{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  margin: 0;
  flex: 1;
}

.links > li > a {
  display: flex;
  text-decoration: none;
  color:#F2F2F3;
  margin-right: 18px;
}

.link_logo{
  flex: 1;
  display: flex;
  justify-content: center;
}
